Repository pixie-io/pixie, changes with the owners that CODEOWNERS names for each.
All owners: @pixie-io/core-maintainers, @pixie-io/vizier, @pixie-io/cloud, @pixie-io/maintainers, @pixie-io/stirling, @pixie-io/ui, @pixie-io/build, @pixie-io/third-party-reviewers

CODEOWNERS:

# Order matters here and the last owner takes precedence

# The default assignees if none of the subpaths match
*               @pixie-io/core-maintainers

# Main source code paths
/src/           @pixie-io/vizier
/src/cloud/     @pixie-io/cloud
/src/common/    @pixie-io/maintainers
/src/shared/    @pixie-io/maintainers
/src/stirling/  @pixie-io/stirling
/src/ui/        @pixie-io/ui
/src/vizier/    @pixie-io/vizier

# Build files
/Jenkinsfile    @pixie-io/build
/bazel/         @pixie-io/build
/ci/            @pixie-io/build
/scripts/       @pixie-io/build
/tools/         @pixie-io/build
WORKSPACE       @pixie-io/build
.arc*           @pixie-io/build
*.bzl           @pixie-io/build

# Third party code
/third_party/             @pixie-io/third-party-reviewers
container_images.bzl      @pixie-io/third-party-reviewers
go.mod                    @pixie-io/third-party-reviewers
go.sum                    @pixie-io/third-party-reviewers
package.json              @pixie-io/third-party-reviewers
repositories.bzl          @pixie-io/third-party-reviewers
repository_locations.bzl  @pixie-io/third-party-reviewers
requirements.txt          @pixie-io/third-party-reviewers
yarn.lock                 @pixie-io/third-party-reviewers
Dockerfile                @pixie-io/third-party-reviewers

Fix coverage build
  src/stirling/source_connectors/socket_tracer/testing/protocol_checkers.h
Owners: @pixie-io/stirling

Upgrade some privy deps to address CVEs
  src/datagen/pii/privy/requirements.txt
Owners: @pixie-io/third-party-reviewers

Fix coverage build (#766)
  src/stirling/source_connectors/socket_tracer/testing/protocol_checkers.h
Owners: @pixie-io/stirling

Upgrade some privy deps to address CVEs (#767)
  src/datagen/pii/privy/requirements.txt
Owners: @pixie-io/third-party-reviewers

Upgrade some UI deps to address CVEs
  src/ui/yarn.lock
Owners: @pixie-io/third-party-reviewers

Update pullrequest template
  .github/PULL_REQUEST_TEMPLATE/blank_template.md
  .github/PULL_REQUEST_TEMPLATE/guided_template.md
Owners: @pixie-io/core-maintainers

Upgrade some UI deps to address CVEs (#768)
  src/ui/yarn.lock
Owners: @pixie-io/third-party-reviewers

Update pullrequest template (#769)
  .github/PULL_REQUEST_TEMPLATE/blank_template.md
  .github/PULL_REQUEST_TEMPLATE/guided_template.md
Owners: @pixie-io/core-maintainers
